{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Dashboard" %} {% endblock %}

{% block page_content %} 
	<div class="row page-content">	  
	  <div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="content-box-header">
					<div class="panel-title">{% trans "Pending Reviews" %}</div>
				</div>
				<div class="content-box-large box-with-header">
					{% if pending_reviews %}
						<p>{% trans "Please complete the following reviews:" %}</p>
						<div class="list-group">    
						  {% for review in pending_reviews %}
						  	<a href="{{review.get_absolute_url}}" class="list-group-item list-group-item-info">{{review}}</a>
						  {% endfor %}
						</div>
					{% else %}
						<p>{% trans "No pending reviews" %}</p>
					{% endif %}
				</div>
			</div>
		</div>
	  </div>

	  {% if reports %}
	  	  <div class="col-md-6">
	  		<div class="row">
	  			<div class="col-md-12">
	  				<div class="content-box-header">
	  					<div class="panel-title">{% trans "Latest Reports" %}</div>
	  				</div>
	  				<div class="content-box-large box-with-header">
	  					  <table class="table table-striped table-bordered">
	  					  	<thead>
	  					  		<tr>
	  					  			<th width="40%">{% trans "Review" %}</th>
	  					  			<th>{% trans "Reviewers" %}</th>
	  					  			<th>{% trans "Avg Score" %}</th>
	  					  			<th>{% trans "Company Avg" %}</th>
	  					  		</tr>
	  					  	</thead>
	  					    <tbody>
	  					    	{% for report in reports %}
	  					    		<tr>
	  					    			<td>{{report.0.title}} {{report.0.sitting}} {{report.0.quiz}}</td>
	  					    			<td>{{report.0.number_of_reviewers}}/{{report.0.reviewers.count}}</td>
	  					    			<td>{{report.0.percentage_score|floatformat:2}}%</td>
	  					    			<td>{{report.0.company_percentage_score|floatformat:2}}%</td>
	  					    		</tr>
	  					    	{% endfor %}
	  						</tbody>
	  					  </table>
	  					  <br/>
	  					  <a href="{% url 'reports:report_list' %}" class="btn btn-small btn-default">{% trans "More Reports" %}</a>
	  				</div>
	  			</div>
	  		</div>
	  {% endif %}
	</div>
{% endblock %}