{% extends "base.html" %}
{% load i18n %}
{% block all_content %} 
	<div class="content-box-header panel-heading">
		<div class="panel-title ">{% trans "Welcome to Jibu Pro" %}</div>
	</div>
	<div class="content-box-large box-with-header">
		<p>
		{% trans "Jibu Pro is an exceptionally powerful survey tool designed to make even the most advanced survey projects fun, easy & affordable.  We provide an advanced (but easy to use) online survey software tool that comes with amazing customer service." %}
		</p>
	</div>  
{% endblock %}